/* header */
/*header {*/
/*    text-shadow: 0px 0px 5px rgba(78, 202, 209, .7);*/
/*}*/
body, html {
    color: #90a0a7;
}

.page-header {
    /*background-image: linear-gradient(120deg, rgb(94, 171, 214), rgb(231, 105, 119));*/
    background-image: url("/assets/images/spacebg.jpg");
    background-color: #ffffff;
    background-size: cover;
}
.page-header h1 a {
    color: #efefef;
    text-decoration: none;
}

.project-tagline {
    margin: 0;
    opacity: 0.9;
}

.back-button {
    position: absolute;
    top: 16px;
    left: 13px;
    display: inline-block;
    background-color: #2b4e61;
    color: #ffffff !important;
    border-radius: 40px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Press Start 2P", cursive;
    opacity: 1;
}

.back-button:hover {
    opacity: 0.9;
    text-decoration: none;
}

.back-button:active {
    opacity: 1;
    text-decoration: none;
}

.back-arrow-icon {
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 4px;
    font-size: 17px;
}

h1.post-title {
    margin-top: 0;
    text-align: center;
    color: #eb6c7d !important;
}

/* content */
.main-content p {
    text-align: justify;
    word-wrap: break-word;
    font-size: 1.1em;
    line-height: 1.8em;
    color: #90a0a7;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: rgb(94, 171, 214);
}

#disqus_thread {
    margin-top: 40px;
}

img.img-bordered, .img-bordered img {
    border: 1px solid rgba(248, 214, 235, 0.8);
    padding: 2px;
}

.video-bordered {
    border: 1px solid rgba(248, 214, 235, 0.8);
    padding: 2px;
}

.video-bordered video {
    max-height: 100%;
    max-width: 100%;
}

/* footer */
.drop-us-a-line {
    font-style: italic;
    font-size: .8em;
}
.adsbygoogle {
    margin: 60px 0;
}

.blog-avatar {
    height: 50px;
    border-radius: 15px;
}

.author-link{
    padding-left: 60px;
    padding-top: 10px;
}

/* Inline images */
.inline-image {
    float: left;
    width: 50%;
}
@media (max-width: 767px) {
    .inline-image {
        float: none;
        width: 100%;
    }
}

/* mobile */
@media (max-width: 767px) {
    .main-content p {
        /* Make font slightly larger to get rid of Google 'mobile font size too small' nag */
        font-size: 1.2em;
    }
}

