/* header */
header {
    text-shadow: 0px 0px 5px rgba(78, 202, 209, .7);
}
.page-header {
    /*background-image: linear-gradient(120deg, rgb(94, 171, 214), rgb(231, 105, 119));*/
    background-image: url("/assets/images/ckc_bg-min.png");
    background-color: #ffffff;
    background-size: cover;
}
.page-header h1 a {
    color: #efefef;
    text-decoration: none;
}

.project-tagline {
    margin: 0;
}

/* content */
.main-content p {
    text-align: justify;
    word-wrap: break-word;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: rgb(94, 171, 214);
}

#disqus_thread {
    margin-top: 40px;
}

/* footer */
.drop-us-a-line {
    font-style: italic;
    font-size: .8em;
}
.adsbygoogle {
    margin: 60px 0;
}