body {
    font-family: "Roboto Condensed", sans-serif;
}

.header-row {
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-color: rgba(0, 0, 0, 0.94);
    background-blend-mode: luminosity;
}

.case-header {
    background: linear-gradient(to bottom right, #000000d9, #001e44c9);
    line-height: 4em;
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    padding: 120px !important;
    color: white;
    text-shadow: 1px 1px 1px black;
    height: 510px;
}

.mockup img {
    width: 370px;
    height: auto;
    z-index: 3;
    position: absolute;
    right: 70px;
    top: 70px;
}

.mockup #desktop-mock {
    width: 540px;
    height: auto;
    top: 65px;
    opacity: 0;
    animation: comein 1000ms ease forwards;
}

.mockup #phone-mock {
    top: 242px;
    right: 461px;
    height: 271px;
    width: auto;
    opacity: 0;
    animation: comein 700ms ease 600ms forwards;
}

@keyframes comein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-strat-row {
    background-color: #f06a7ccc;
}

.about {
    font-size: 24px;
    padding: 50px;
    background: #60AED9;
    color: #ffffff;
}

.about h1 {
    font-weight: 100;
    text-align: center;
    padding-left: 35px;
    font-size: 56px;
    font-family: "Roboto Condensed", sans-serif;
}

.about h3 {
    color: #ffadb8;
}

.about a {
    color: white;
    border-bottom: 2px solid #f58796;
}

.about a:hover {
    color: #efefef;
    text-decoration: none;
    background-color: #f38897;
}

.about-description {
    padding: 35px;
    text-align: center;
    font-size: 20px;
    font-family: "Merriweather", serif;
}

.about-description img {
    float: right;
    width: 350px;
}

.about-description .badge {
    font-family: "Roboto Condensed", sans-serif;
    border: solid 1px #eb5265;
    background-color: #f06a7c;
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 14px;
}

.strategy {
    padding: 50px 60px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
}

.strategy h2 {
    font-weight: 100;
    font-size: 56px;
    text-align: left;
    padding-left: 40px;
}

.strategy ul {
    font-size: 25px;
    padding-left: 100px;
}

.objectives {
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
}

.objectives h1 {
    text-align: left;
}

.view-site-btn:hover .view-site {
    fill: #ffaaaa;
}

.view-site-btn:hover .view-site-border {
    fill: #60AED9;
}

.footer-captions a:hover {
    text-shadow: 0 0 0 #fff;
    color: white;
    text-decoration: none;
}


.contact-row {
    background-color: whitesmoke;
    color: #353535;
}

.contact-us {
    margin-top: 35px;
}


.contact-us h3 {
    padding: 0 100px;
    font-size: 56px;
    font-family: "Roboto Condensed", sans-serif;
}

.contact-us h3::after {
    content: '';
    width: 265px;
    height: 4px;
    background-color: #7dc1f9;
    display: block;
}

.contact-us-desc {
    font-size: 22px;
    line-height: 1.75em;
    padding: 20px 100px 40px !important;
    font-family: "Merriweather", serif;
}

@media screen and (max-width: 610px) {
    .contact-us h3 {
        margin: 0 auto;
        padding: 10px 30px;
        text-align: center;
    }

    .contact-us h3::after {
        text-align: center;
        margin: 0 auto;
    }

    .contact-us-desc {
        padding: 20px 30px 40px !important;
    }
}

.contact-us-desc strong {
    color: #f06a7c;
}

.contact-form {
    margin-bottom: 100px;
}

* {
    box-sizing: border-box;
    transition: all 0.15s;
}


h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #fff !important;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 35px;
}

input, textarea {
    color: #efefef !important;
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}

input:focus,
textarea:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #fff;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

#panel {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* Standard syntax (must be last) */
    border-radius: 4px;
    top: 50px;
}

#panel .btn-warning {
    background-color: #f06a7c;
    border-color: #eb5266;
}

#panel .btn-warning:hover {
    background-color: #eb5266;
    border-color: #f06a7c;
}

@media screen and (max-width: 1120px) {
    #phone-mock {
        top: 400px !important;
        right: 269px !important;
        height: 111px !important;
    }

    #desktop-mock {
        width: 260px !important;
        top: 295px !important;
    }
}

@media screen and (max-width: 655px) {
    .case-header {
        line-height: 1em;
        font-size: 40px;
        text-align: center;
        padding: 80px 25px 0 !important;
    }

    .about h1 {
        padding-left: 0;
    }

    .strategy {
        padding: 20px 40px 40px !important;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .strategy h2 {
        text-align: left;
    }
}