.wrapper {
    background: rgb(245, 245, 245);
}

#home .caption-content {
    color: #fff;
    text-shadow: -1px -1px 0 rgb(75, 164, 206),
    -1px 1px 7px rgba(1, 19, 29, 0.45);
}

.caption-content {
    display: block !important;
    padding-top: 220px;
}

.navbar.navbar-custom {
    max-width: 100vw;
}

/**
 Astronauts/animations
 */

@keyframes alternating-logo-letters {
    from {
        fill: #ffffff;
    }

    to {
        fill: #e36876;
    }
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(0) {
    animation-delay: 0.0s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(1) {
    animation-delay: 0.1s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(2) {
    animation-delay: 0.2s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(3) {
    animation-delay: 0.3s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(4) {
    animation-delay: 0.25s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(5) {
    animation-delay: 0.3s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(6) {
    animation-delay: 0.35s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(7) {
    animation-delay: 0.4s;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path:nth-of-type(8) {
    animation-delay: 0.45s;
}

@keyframes alternating-color-1 {
    from {
        fill: #66a9d7;
    }

    to {
        fill: #e36876;
    }
}

@keyframes alternating-color-2 {
    from {
        fill: #e36876;
    }

    to {
        fill: #66a9d7;
    }
}

.astronaut-stripe path {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-name: alternating-color-1;
}

.astronaut-stripe path:nth-of-type(0) {
    animation-delay: 0.0s;
}

.astronaut-stripe path:nth-of-type(1) {
    animation-delay: 0.1s;
}

.astronaut-stripe path:nth-of-type(2) {
    animation-delay: 0.2s;
}

.astronaut-stripe path:nth-of-type(3) {
    animation-delay: 0.3s;
}

.astronaut-stripe path:nth-of-type(4) {
    animation-delay: 0.25s;
}

.astronaut-stripe path:nth-of-type(5) {
    animation-delay: 0.3s;
}

.astronaut-stripe path:nth-of-type(6) {
    animation-delay: 0.35s;
}

.astronaut-stripe path:nth-of-type(7) {
    animation-delay: 0.4s;
}

.astronaut-stripe path:nth-of-type(8) {
    animation-delay: 0.45s;
}

#astro_1 {
    position: absolute;
    top: 180px;
    right: 400px;
    height: 500px;
    animation-name: hovering_1;
    animation-duration: 4s;
}

#astro_2 {
    position: absolute;
    top: 80px;
    right: 100px;
    height: 400px;
    animation-name: hovering_2;
    animation-duration: 5s;
}

@keyframes hovering_1 {
    0% {
        transform: translateY(75px);
    }
    100% {
        transform: none;
    }
}

@keyframes hovering_2 {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(75px);
    }
}

#astro_1, #astro_2 {
    max-width: 60vw;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

#astro_1 {
    animation-delay: .1s;
}

.hs-caption {
    padding-top: 100px;
}

/* Extra large desktop */
@media (min-width: 2560px) {
    .container {
        width: 1440px;
    }

    #ckcollab_logo_svg {
        top: -3px;
        left: 5px;
        position: absolute;
    }

    .navbar-transparent #ckcollab_logo_svg {
        height: 600px !important;
        position: absolute;
        top: 20px;
        left: 75px;
    }

    #home .hs-caption {
        position: absolute;
        top: 280px;
        left: 80px;
    }

    #home .hs-title-size-3.font-alt {
        font-size: 53px !important;
    }

    #home .hs-title-size-2 {
        font-size: 32px !important;
    }

    #astro_1 {
        height: 1000px !important;
        right: 800px !important;
    }

    #astro_2 {
        height: 800px !important;
        right: 200px !important;
    }
}

@media (min-width: 1024px) {
    #astro_1 {
        top: 35%;
        right: 310px;
        height: 500px;
    }

    #astro_2 {
        top: 25%;
        right: 30px;
        height: 400px;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    #astro_1 {
        top: 500px;
        height: 500px;
        right: 300px;
    }

    #astro_2 {
        height: 400px;
        top: 500px;
        right: 60px;
    }

    @keyframes hovering_1 {
        0% {
            transform: translateY(100px);
        }
        100% {
            transform: none;
        }
    }
    @keyframes hovering_2 {
        0% {
            transform: none;
        }
        100% {
            transform: translateY(100px);
        }
    }

    .hs-title-size-3 {
        font-size: 50px;
    }

    .font-code {
        font-size: 24px;
    }

    .work-details-title, .tech-title, .pricing-details-title {
        font-size: 45px !important;
        font-weight: normal !important;
    }

    .worked-with-title, .tech-title {
        font-size: 33px !important;
    }

    .card-enterprise .tier-cost {
        font-size: 54px !important;
    }
}

/* Mobile */
@media (min-width: 481px) and (max-width: 767px) {
    .navbar.navbar-transparent .navbar-header {
        /*text-align: center;*/
    }

    .hs-caption {
        padding-top: 16em !important;
        margin-left: 2em;
    }

    .caption-content {
        padding-top: 0;
    }

    #astro_1, #astro_2 {
        max-width: 100vw;
        height: auto;
    }

    #astro_1 {
        top: 55%;
        right: 45%;
        height: 400px;
    }

    #astro_2 {
        top: 50%;
        right: 11%;
        height: 300px;
    }

    @keyframes hovering_1 {
        0% {
            transform: translateY(25px);
        }
        100% {
            transform: none;
        }
    }
    @keyframes hovering_2 {
        0% {
            transform: none;
        }
        100% {
            transform: translateY(25px);
        }
    }
}

/* Small mobile */
@media screen and (max-width: 480px) {
    .hs-caption {
        padding-top: 16em !important;
        margin-left: 2em;
    }

    .caption-content {
        padding-top: 0;
    }

    #team .panel {
        width: 100% !important;
    }

    #astro_1 {
        top: 50%;
        height: 260px;
        left: 10%;
        animation-duration: 5s;
    }

    #astro_2 {
        height: 220px;
        right: 10%;
        top: 50%;
        animation-duration: 5.5s;
    }

    .work-details-title, .tech-title, .pricing-details-title {
        font-size: 30px !important;
        font-weight: normal !important;
    }

    #what-we-do {
        padding-bottom: 30px !important;
    }

    #team {
        padding-top: 30px !important;
    }

    .card-enterprise .tier-cost {
        font-size: 30px;
    }

    .media-list {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 410px) {
    .hs-title-size-3 {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 369px) {
    .hs-title-size-3 {
        font-size: 20px !important;
    }

    .hs-title-size-2 {
        font-size: 15px;
    }

    .work-details-title, .tech-title, .pricing-details-title {
        font-size: 26px;
        font-weight: normal;
    }

    #astro_1 {
        left: 5% !important;
        animation-duration: 5s;
    }

    #astro_2 {
        right: 5% !important;
        animation-duration: 5.5s;
    }
}


/******************************************************************************
 Header/navbar
 *****************************************************************************/
#ckcollab_logo_svg {
    max-width: 100vw;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: -5px;


    /* Specifying this height makes transitions nice and links aligned properly */

    /*-webkit-filter: drop-shadow(-2px -2px 10px rgba(0, 0, 0, 0.59));*/
    /*filter: drop-shadow(-2px -2px 10px rgba(0, 0, 0, 0.59));*/

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar-transparent #ckcollab_logo_svg {
    height: 300px;
}

#ckcollab_logo_svg:hover {
    margin-top: 0;
    opacity: 1;
}

.navbar.navbar-transparent .navbar-nav > li > a {
    /* Hide links when scrolled to the top of the page */
    display: none;
}

.navbar:not(.navbar-transparent) #ckcollab_logo_svg {
    /*height: 50px;*/
}

.navbar.navbar-transparent .ckclogo .letters path,
.navbar.navbar-transparent .ckclogo .border {
    fill: #efefef;
}

/* When navbar does not have class .navbar-transparent (aka scrolled past the top) */
.navbar:not(.navbar-transparent) .ckclogo .border {
    fill: #efefef;
}

.navbar:not(.navbar-transparent) .ckclogo .letters path {
    fill: #efefef;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-name: alternating-logo-letters;
}

/* Nav links */
.navbar:not(.navbar-transparent) .navbar-nav > li > a {
    color: #efefef;
}

.navbar:not(.navbar-transparent) .navbar-nav > li > a:hover {
    color: #222;
}

@media (min-width: 768px) {
    .navbar:not(.navbar-transparent) .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #who-for img {
        width: 115px;
    }

    .navbar-transparent #ckcollab_logo_svg {
        height: 300px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {

    .hagadone{
        height: 165px !important;
        width: auto !important;
        filter: drop-shadow(0px 0px 1px #bbb);
    }

    .medcurio-image{
        height: 150px !important;
        width: auto !important;
    }

    .navbar-custom {
        background: none;
        border: 0;
        border-bottom: 0 !important;
    }

    .navbar-transparent #ckcollab_logo_svg {
        height: 175px;
        margin-left: 2em;
    }

    #home {
        background-position: 98% center;
    }

    #who-for {
        padding-bottom: 20px;
    }

    #who-for img {
        width: 65%;
        height: auto;
        padding-bottom: 35px;
    }

    .panel-body img {
        height: auto !important;
    }

    .hs-title-size-3 {
        font-size: 28px;
    }
}

.caption-content {
    text-align: left;
    text-shadow: 0 0 1px #60aed9;
}

#typewriter {
    /*min-width: 100%;*/
}

#typewriter .cursor {
    color: #ef6d7e;
    font-weight: bold;
    text-shadow: none;
}

#typewriter .cursor.off {
    opacity: 0;
}

.font-code {
    font-family: monospace;
}

#services {
    text-align: center;
}

#services .service {
    display: inline-block;
    color: #efefef;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(239, 109, 126, 0.29);
}

#services .service:hover {
    transform: translateY(-5px);

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


#recent-blogs p {
    text-align: justify;
    word-wrap: break-word;
    margin: 5px 0;
    font-size: 1.3em;
}

#recent-blogs h3 {
    /*line-height: .5 !important;*/
    padding-top: 5px;
    font-size: 2.2em;
}

#recent-blogs .btn {
    margin-top: 20px;
    opacity: 0.5;
}

#recent-blogs .btn:hover {
    opacity: 1;
}

#recent-blogs .post {
    margin-bottom: 20px;
}


/******************************************************************************
 Styles common to all sections/modules
 *****************************************************************************/
section h1 {
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-size: 60px;
    color: #ef6d7e;
    font-weight: bold;
    margin: 40px;
}

.brands {
    padding-top: 20px;
    text-align: center;
}

.brands img {
    margin: 20px 50px;
}

a:hover > img {
    position: relative;
    transform: translateY(-3px);
    transition-duration: .3s;
}

/******************************************************************************
 Description
 *****************************************************************************/
#top-description {
    min-height: 50vh;
}

.panel a {
    color: rgb(27, 60, 125);
}

.panel-body {
    position: relative;
    text-align: center;
}

.panel-body img {
    height: 328px;
    text-align: center;
}

.panel-body .expand-profile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    bottom: -20px;
    opacity: 0;
    color: rgb(249, 249, 249);
    background-color: rgba(96, 174, 217, 0.85);
    border-radius: 0 0 4px 4px;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.panel-body:hover .expand-profile {
    opacity: 1;
}

.expand-profile dd {
    margin-bottom: 5px;
    /*margin-left: 135px;*/
}

.expand-profile dt {
    /*width: 120px;*/
}

.panel-default > .panel-heading {
    color: #f2fcfd;
    background-color: rgba(239, 109, 126, 0.55);
}

/* What we do */

#what-we-do img {
    height: 64px;
}

/* Who for */
#who-for a {
    width: 80px;
    margin-bottom: 20px;
}

.work-details-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
}

.experience-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#projects {
    padding-bottom: 80px;
}

/******************************************************************************
 Landscape
 *****************************************************************************/
#landscape {
    background: linear-gradient(
            rgba(239, 109, 126, 0),
            rgba(239, 109, 126, 0.55)
    ), url('../../assets/images/wwd_bg.jpg');
    background-size: cover;
    text-align: center;
}

/* Contact us */
.comment-form h4 {
    color: #efefef !important;
    text-shadow: 0 0 5px rgba(35, 75, 97, 0.8);
}

.form-control {
    text-transform: none;
}

.comment-form {
    padding: 100px 0;
}

/* Bottom links */
.footer-captions {
    padding: 100px 0;
    color: #efefef;
    text-shadow: 0 0 10px rgb(1, 19, 29);
}

.footer-captions a {
    color: #efefef;
    cursor: pointer;
}

.footer-captions a:hover {
    text-shadow: 0 0 0 #fff;
}


.copyright, .copyright a {
    color: #efefef;
}

.copyright a:hover {
    color: #a34646;
}

/******************************************************************************
 Case Studies
 *****************************************************************************/

.row {
    margin-left: 0;
    margin-right: 0;
}

.cs-panel {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
}

.overlay {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-size: cover;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 32px;
    padding: 60px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
    background-image: url('../images/ckc_bg-min.png');

}

.overlay:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: block;
    padding: 20px;
}

.animated-icon {
    display: none;
    position: absolute;
    right: 18px;
    bottom: 0;
}

.overlay:hover:after {
    opacity: 0.6;
}

.overlay:hover .animated-icon {
    display: block;
}

.overlay.codalab:after {
    content: '';
    background-color: rgba(0, 128, 0, 0.42);
}

.overlay.fragile-families:after {
    content: '';
    background-color: rgba(178, 14, 181, 0.5);
}


.overlay.see-4c:after {
    content: '';
    background-color: rgba(34, 5, 103, 0.47);
}

.see-4c .client-logo {
    width: 100%; /* for some reason without this, see4c logo doesn't have width on my machine */
}

/* For images from blog alongside blog post summary */
.img-bordered {
    border: 1px solid rgba(248, 214, 235, 0.8);
    padding: 2px !important;
    width: 125px !important;
    margin-right: 10px !important;
}

img.media-object {
    height: auto;
    width: 100px;
    max-width: 1000px;
}

.media-list {
    margin: 0 auto;
    max-width: 700px;
    font-size: 1.4em;
}

.media-left {
    padding-right: 30px;
}

.media {
    padding-bottom: 40px;
}

.overlay.draper:after {
    content: '';
    background-color: rgba(105, 16, 128, 0.48);
}

.overlay.chalearn:after {
    content: '';
    background-color: rgba(128, 126, 1, 0.42);
}

.overlay.coeur-holdings:after {
    content: '';
    background-color: rgba(9, 125, 128, 0.42);
}


.coeur-holdings {
    justify-content: initial;
}

.overlay.everfresh:after {
    content: '';
    background-color: rgba(12, 208, 81, 0.47);
}

.everfresh .client-logo {
    filter: invert(0.1) grayscale(100%) contrast(1);
}

.mgm_resorts .client-logo {
    filter: invert(0.1) grayscale(100%) contrast(1);
}

.hagadone{
    height: 70px;
    width: auto !important;
    filter: drop-shadow(0px 0px 1px #bbb);
}

.overlay.medcurio:after{
    content: '';
    background-color: rgba(34, 5, 103, 0.47);
}

.overlay.mgm_resorts:after{
    content: '';
    background-color: rgba(0, 128, 0, 0.42);
}

.overlay.findagame:after{
    content: '';
    background-color: rgba(178, 14, 181, 0.5);

}
.overlay:hover> img.medcurio-logo{
    filter: none;
    transform: scale(.8);
    transition: all 350ms ease-in-out;
    mix-blend-mode: screen;
}

.overlay:hover> img.findagame{
    filter: invert(0.1) grayscale(100%) contrast(0) opacity(1);
    mix-blend-mode: color-dodge;
    opacity: 1 !important;
}

.client-logo {
    z-index: 3;
    filter: invert(0.1) grayscale(100%) contrast(0);
    transform: scale(1);
    transition: all 350ms ease-in-out;
    mix-blend-mode: screen;
}

.overlay:hover .client-logo {
    filter: none;
    transform: scale(1.05);
    transition: all 350ms ease-in-out;
    mix-blend-mode: unset;
}

#team .panel {
    width: 328px;
    border: none !important;
}

#team .panel-body {
    height: 328px;
    /* set in template, like: background: url(http://localhost:63342/ckcollab/assets/images/avatars/eric1.png); */
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

.copyright {
    padding: 10px;
}

@media screen and (min-width: 2559px) {

    .col-xl-1 {
        width: 25% !important;
    }

    .col-xl-offset-0 {
        margin: 0 !important;
    }

    #recent-blogs p {
        font-size: 1.80em;
    }

    #recent-blogs h3 {
        font-size: 2.8em;
    }

    .btn {
        font-size: 16px;
    }

    .content-box-icon {
        font-size: 55px;
    }

    .content-box-title {
        font-size: 24px;
    }

    .copyright {
        font-size: 19px;
    }
}


@media screen and (max-width: 990px) {
    .overlay {
        padding: 0 200px !important;
    }
    .overlay.medcurio{
        padding: 0 210px !important;
    }
}

@media screen and (min-width: 1199px){

    .overlay.medcurio{
        padding-top: 25px !important;
    }
}

@media screen and (max-width: 767px) {
    .col-xs-offset-0 {
        display: flex;
        justify-content: center;
    }

    .overlay {
        padding: 0 30px !important;
    }
    .overlay.medcurio{
        padding: 0 200px !important;
    }

    .media-left {
        padding-right: 10px;
    }

    img.media-object{
        width: 60px !important;
    }
}

@media screen and (min-width: 991px) {

    .overlay.draper,
    .overlay.draper::after {
        border-bottom-left-radius: 6px;
    }
    .overlay.everfresh,
    .overlay.everfresh::after {
        border-bottom-right-radius: 6px;
    }

    .overlay.see-4c,
    .overlay.see-4c::after {
        border-top-right-radius: 6px;
    }

    .overlay.codalab,
    .overlay.codalab::after {
        border-top-left-radius: 6px;
    }
    .medcurio{
        padding-top: 45px !important;
    }
}

/* ---------- PRICING TIERS ------------ */
.pricing-tiers {
    margin-bottom: 30px;
}

.pricing-details-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
}

.card-deck {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: auto;
    margin: 10px 30px;
    border: solid 1px gainsboro;
    border-radius: 8px;
    max-width: 550px;
    min-width: 290px;
    box-shadow: 0 2px 2px 1px rgba(220, 220, 220, 0.56);
}

.card-starter {
    border: solid 3px #e8f7ff;
}

.card-pro {
    border: solid 3px #c9ebff;
}

.card-enterprise {
    border: solid 3px #9ddbff;
}

.card-enterprise .tier-cost {
    font-size: 55px;
    letter-spacing: -2px;
    margin-top: -7px;
}

.card-header {
    height: 150px;
    text-align: center;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    background-color: gainsboro;
    color: grey;
    margin-bottom: 10px;
}

.tier-item {
    padding: 0 30px;
    display: inline-flex;
    min-height: 40px;
    align-items: center;
}

.tier-item:before {
    position: relative;
    left: -15px;
    content: '✓';
    color: #f16b7c;
    font-size: 20px;
}

.tier-item.locked {
    color: gainsboro;
}

.tier-item.locked:before {
    position: relative;
    left: -15px;
    content: '✓';
    color: gainsboro;
    font-size: 20px;
}

.pricing-tiers hr {
    margin-top: 0;
    margin-bottom: 0;
}

.card-header.bronze {
    background-color: #e8f7ff;
    color: #525252;
}

.card-header.silver {
    color: #525252;
    background-color: #c9ebff;
    text-align: center;
}

.card-header.gold {
    background-color: #9ddbff;
    color: #525252;
}

.card-header h5 {
    font-size: 24px;
}

.card-footer {
    display: flex;
    padding: 15px;
    justify-content: center;
}

.dollar-sign {
    font-size: 30px;
    position: relative;
    top: -26px;
    left: -6px;
    font-weight: 800;
}

.tier-cost {
    font-weight: 100;
    font-family: "Raleway", sans-serif;
    font-size: 76px;
    margin-top: -30px;
    letter-spacing: -6px;
}

.contact-btn {
    border-radius: 2px;
    background-color: #f06a7c;
    border-color: #eb5266;
    color: white;
}

.contact-btn:hover {
    background-color: #eb5266;
    border-color: #f06a7c;
}

.contact-btn:active {
    background-color: #eb5266;
    border-color: #f06a7c;
}

@media (max-width: 2559px) and (min-width: 1150px) {
    .card {
        margin: 10px;
    }
}

@media screen and (max-width: 950px) {
    .card-deck {
        display: block;
        margin: 10px auto;
    }

    .card {
        margin: 10px auto;
    }

    .media-list {
        max-width: 95%;
    }
}

.contact-container {
    width: inherit !important;
}

.shadow{
    filter: drop-shadow(0px 0px 1px #bbb);

}

#brand_draper{
    filter: invert(.3) drop-shadow(0px 0px 1px #bbb)
}

.couer_holdings{
    position: relative;
    top: 15px;
}

.medcurio-image{
    filter: invert(.6);
}

.blog-container{
    padding: 50px 0px;
}

#who-for{
    text-align: center;
}