.wrapper {
    background: rgb(245, 245, 245);
}

#home .caption-content {
    color: #fff;
    text-shadow: -1px -1px 0 rgb(75, 164, 206),
                 -1px 1px 7px rgba(1, 19, 29, 0.45);
}

/******************************************************************************
 Header/navbar
 *****************************************************************************/
#ckcollab_logo_svg {
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: -5px;
    opacity: 0.5;

    /* Specifying this height makes transitions nice and links aligned properly */
    height: 43px;

    -webkit-filter: drop-shadow(-2px -2px 10px rgba(0, 0, 0, 0.59));
    filter: drop-shadow(-2px -2px 10px rgba(0, 0, 0, 0.59));

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#ckcollab_logo_svg:hover {
    margin-top: 0;
    opacity: 1;
}

#ckcollab_logo_svg path {
    /*stroke: red;*/
}

.navbar.navbar-transparent .navbar-nav > li > a {
    /* Hide links when scrolled to the top of the page */
    display: none;
}

.navbar:not(.navbar-transparent) #ckcollab_logo_svg {
    /*height: 50px;*/
}

.navbar.navbar-transparent .ckclogo .letters path,
.navbar.navbar-transparent .ckclogo .border {
    fill: #efefef;
}

/* When navbar does not have class .navbar-transparent (aka scrolled past the top) */
.navbar:not(.navbar-transparent) .ckclogo .letters path{
    fill: #efefef;
}

/* Nav links */
.navbar:not(.navbar-transparent) .navbar-nav > li > a {
    color: #efefef;
}

.navbar:not(.navbar-transparent) .navbar-nav > li > a:hover {
    color: #222;
}

@media (min-width: 768px) {
    .navbar:not(.navbar-transparent) .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #who-for img {
        width: 150px;
    }

    #brand_draper {
        margin-top: 30px;
    }
    a #brand_draper:hover {
        margin-top: 25px;
    }
}
@media (max-width: 768px) {
    .navbar-custom {
        background: none;
        border: 0;
        border-bottom: 0 !important;
    }

    #ckcollab_logo_svg {
        margin-left: 8px;
    }

    #home {
        background-position: 98% center;
    }

    #who-for {
        padding-bottom: 20px;
    }

    #who-for img {
        width: 65%;
        padding-bottom: 35px;
    }

    .panel-body img {
        height: auto !important;
    }
}

.caption-content {
    text-shadow: 0 0 1px #60aed9;
}


/******************************************************************************
 Styles common to all sections/modules
 *****************************************************************************/
section h1 {
    text-align: center;
    font-family: "Overpass", sans-serif;
    font-size: 60px;
    color: #ef6d7e;
    font-weight: bold;
    margin: 40px;
}

.brands {
    padding-top: 20px;
    text-align: center;
}

.brands img {
    /*width: 64px;*/
    /*height: 64px;*/
    margin: 10px;
}

a > img {
    /*border: 3px outset transparent;*/
    /*box-sizing: border-box;*/
}

a:hover > img {
    margin-top: 5px;
    margin-bottom: 15px;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}


/******************************************************************************
 Description
 *****************************************************************************/
#top-description {
    padding: 160px 0;
    min-height: 100vh;
}

#top-description .panel a {
    color: rgb(27, 60, 125);
}

#top-description .panel-body {
    position: relative;
    text-align: center;
}
#top-description .panel-body img {
    height: 328px;
    text-align: center;
}

.panel-body .expand-profile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    bottom: -20px;
    opacity: 0;
    color: rgb(249, 249, 249);
    background-color: rgba(96, 174, 217, 0.95);
    border-radius: 0 0 4px 4px;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.panel-body:hover .expand-profile {
    opacity: 1;
}
.expand-profile dd {
    margin-bottom: 5px;
    /*margin-left: 135px;*/
}
.expand-profile dt {
    /*width: 120px;*/
}

.panel-default>.panel-heading {
    color: #f2fcfd;
    background-color: rgba(239, 109, 126, 0.55);
}

/* What we do */
#what-we-do {
    padding-bottom: 150px;
}

#what-we-do img {
    width: 64px;
}

/* Who for */
#who-for a {
    display: block;
    margin-bottom: 20px;
}

.work-details-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
}

.experience-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#projects {
    padding-bottom: 80px;
}


/******************************************************************************
 Landscape
 *****************************************************************************/
#landscape {
    background: linear-gradient(
            rgba(239, 109, 126, 0),
            rgba(239, 109, 126, 0.55)
    ), url('../../assets/images/wwd_bg.jpg');
    background-size: cover;
    text-align: center;
}

/* Contact us */
.comment-form h4 {
    color: #efefef !important;
    text-shadow: 0 0 5px rgba(35, 75, 97, 0.8);
}

.form-control {
    text-transform: none;
}

.comment-form {
    padding: 100px 0;
}

/* Bottom links */
.footer-captions {
    padding: 100px 0;
    color: #efefef;
    text-shadow: 0 0 10px rgb(1, 19, 29);
}

.footer-captions a {
    color: #efefef;
    cursor: pointer;
}

.footer-captions a:hover {
    /*color: #99d8f1;*/

    /*color: #3a6a7d;*/
    /*text-shadow: 0 0 2px rgba(35, 75, 97, 0.8);*/
    /*color: rgba(58, 106, 125, 0.25);*/
    text-shadow: 0 0 0 #fff;
}

/*.module {*/
/*!*background-color: red;*!*/

/*background-image: url("../images/bg_pattern.jpg");*/
/*background-repeat: repeat;*/
/*-webkit-background-size: inherit;*/
/*}*/

.copyright, .copyright a {
    color: #efefef;
}
.copyright a:hover {
    color: #a34646;
}