* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.hero {
    height: 100vh;
    width: 100vw;
}

.space-bg {
    z-index: -2;
    position: absolute;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.space-bg-overlay {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(21, 61, 165, 0.17)
}

.menu-link {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    margin: 20px 35px;
}

.menu-link:hover {
    border-bottom: solid 2px white;
}

.menu-link.active {
    border-bottom: solid 2px white;
}

.menu-link.active:hover {
    border-bottom: solid 2px white;
}

.contact-button {
    color: white;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 200px;
    text-align: center;
    background-color: #60AED9;
    border-radius: 50px;
}

.contact-button:hover {
    border-bottom: none;
    background-color: #5d9ec8;
}

.pink-stripe {
    margin-top: 100px;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #F06C7C, rgba(255, 255, 255, 0));
}

.header-text {
    font-size: 63px;
    font-weight: 300;
    padding: 40px 50px;
    color: #332859;
}

.blue-stripe {
    margin-bottom: 100px;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #5FADD9, rgba(255, 255, 255, 0));
}

/* Footer CSS */

.footer {
    background-image: url('../../assets/images/spacebg.jpg');
    background-color: white;
    z-index: 3;
    position: relative;
    height: 500px;
}

.pink-stripe-lower {
    z-index: 2;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #F06C7C, rgba(255, 255, 255, 0));
}

.secondary-navigation {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.nav-item {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 100;
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 70px;
    text-align: center;
}

.blue-stripe-lower {
    z-index: 2;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #5FADD9, rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo-container {
    height: 300px;
    width: auto;
}

.logo-container .ckc-logo {
    z-index: 1;
    width: 300px;
    margin: 0 auto;
    display: flex;
}

.logo-subheader {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    margin-top: -40px;
}

.footer-contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info {
    display: flex;
    font-size: 24px;
    color: white;
    font-weight: 100;
    flex-direction: column;
}

.contact-info a {
    text-decoration: none;
    color: inherit;
}

/* Hamburger button */

.hamburger-navigation-menu {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 2;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.hamburger-navigation-menu.hidden {
    display: none;
}

.hamburger-button {
    z-index: 3;
    display: none;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 7px;
    background-color: #FFF;
    margin: 6px 0;
    transition: 0.4s;
    border: solid 1px #222d4e;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 10px);
    transform: rotate(-45deg) translate(-9px, 10px);
    border: none;
}

.change .bar2 {
    opacity: 0;
    border: none;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -9px);
    transform: rotate(45deg) translate(-8px, -9px);
    border: none;
}