---
layout: default
---

<style>
    .bootstrap-iso .media-left, .bootstrap-iso .media > .pull-left {
        padding-right: 20px;
        width: 1750px;
    }
    .bootstrap-iso .btn {
        color: #666666;
        border-color: #dedede;
        padding: 7px 30px;
    }
    .bootstrap-iso .btn:hover {
        color: #6a6a6a;
        border-color: #888888;
    }

    .media {
        padding-bottom: 40px;
    }

    .smaller {
        font-size: .8rem;
    }
</style>

<div class="bootstrap-iso">
    <ul class="media-list">
        {% for post in paginator.posts %}
            {% assign author = site.authors | where: 'short_name', post.author | first %}

            <li class="media">
                <div class="media-left">
                    {% if author %}
                        <img class="media-object avatar-circle" src="{{ author.avatar }}">
                    {% endif %}
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        <a href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </h3>
                    {{ post.excerpt }}
                    <span class="smaller">
                    <a href="{{ author.url }}">
                        {{ author.name }} wrote this on {{ post.date | date: "%-d %B %Y" }}
                    </a>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            Previous
        </a>
    {% else %}
        <span class="previous">Previous</span>
    {% endif %}

    <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
        <span class="next ">Next</span>
    {% endif %}
</div>

<script src="./assets/js/cookie-consent.js" type="text/javascript"></script>

