.scroll-magic-container {
    height: 100vh;
}

.screen-container {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}

.clutch-award-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
}

.message-container {
    height: 50%;
}

.clutch-award:hover {
    opacity: .7;
}

.clutch-trophy {
    max-width: 80%;
    width: 200px;
    margin-top: 20px;
}

.award-pink-stripe {
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F06C7C, rgba(255, 255, 255, 0));
}

.award-blue-stripe {
    margin-bottom: 100px;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #5FADD9, rgba(255, 255, 255, 0));
}

#clutch-award {
    font-weight: bold;
    font-size: 36px;
}

.clutch-award:hover {
    opacity: 0.7;
}

.clutch-logo {
    position: relative;
    top: 1px;
    width: 111px;
}
