
.home-footer {
    background-color: white;
    z-index: 3;
    position: relative;
    height: 500px;
    color: #4F456F;
}

.secondary-navigation {
    border-bottom: 1px solid #4F456F;
}

.nav-item {
    color: #4F456F;
}

.contact-info {
    color: #4F456F;
    padding: 20px;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {

    .secondary-navigation {
        flex-direction: column;
        width: 90%;
        border-bottom: 1px solid white;
    }

    .nav-item {
        font-size: 30px;
        margin: 40px;
    }

    .footer-contact-info {
        flex-direction: column;
    }
}