
.astro-right-lower {
    position: relative;
    bottom: 80px;
    left: calc(-375px + 15vw);
    height: 550px;
    z-index: 2;
}

.right-astronaut-lower {
    position: relative;
    left: 80%;
    height: 380px;
    top: -320px;
}

.lets-work-together {
    height: 100vh;
    overflow: hidden;
    margin-top: 100px;
}

.lets-work-together .header-text {
    text-align: center;
}

.lets-work-together .subheader-text {
    text-align: center;
}

/* Height media query */
@media only screen and (min-height: 960px) {
    .lets-work-together {
        height: 960px;
    }
}

@media only screen and (max-width: 374px) {
    .lets-work-together .header-text {
        font-size: 30px;
    }

    .lets-work-together .subheader-text {
        font-size: 18px;
    }

    .drop-us-a-line {
        font-size: 25px;
        width: 85%;
        margin: 20px auto;
    }

    .drop-us-a-line:hover {
        cursor: pointer;
        background-color: #e26674;
    }

    .astro-right-lower {
        position: relative;
        bottom: -80px;
        left: 0;
        height: 140px;
        z-index: 1;
    }

    .right-astronaut-lower {
        position: relative;
        left: 80%;
        height: 80px;
        top: -60px;
    }
}


@media only screen and (max-width: 768px) {

    .lets-work-together .header-text {
        font-size: 35px;
    }

    .lets-work-together .subheader-text {
        font-size: 22px;
        font-weight: 300;
        width: 75%;
        line-height: 1.5em;
    }

    .drop-us-a-line {
        font-size: 31px;
        width: 85%;
        margin: 20px auto;
    }

    .drop-us-a-line:hover {
        cursor: pointer;
        background-color: #e26674;
    }

    .astro-right-lower {
        position: relative;
        bottom: 0px;
        left: -60px;
        height: 280px;
        z-index: 1;
    }

    .right-astronaut-lower {
        position: relative;
        left: 70%;
        height: 180px;
        top: -50px;
    }

}


@media only screen and (max-width: 374px) {
    .lets-work-together .header-text {
        font-size: 30px;
    }

    .lets-work-together .subheader-text {
        font-size: 18px;
    }

    .drop-us-a-line {
        font-size: 25px;
        width: 85%;
        margin: 20px auto;
    }

    .drop-us-a-line:hover {
        cursor: pointer;
        background-color: #e26674;
    }

    .astro-right-lower {
        position: relative;
        bottom: -80px;
        left: 0;
        height: 140px;
        z-index: 1;
    }

    .right-astronaut-lower {
        position: relative;
        left: 80%;
        height: 80px;
        top: -60px;
    }
}


