
.padding-container > img {
    height: 100%;
    width: 100%;
    min-width: 150px;
}

.padding-container {
    padding: 25px;
}

.img-container {
    min-width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container .logo-img {
    max-width: 250px;
}

.aws-logo > .logo-img {
    max-width: 150px;
}

.logos-body {
    width: calc(100% - 100px);
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}