<!DOCTYPE html>
<html lang="{{ site.lang | default: ' en-US' }}">
<head>
    {% seo %}

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet"
          href="{{ '/assets/css/blog_extra.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet"
          href="{{ '/assets/bootstrap-for-blog/css/bootstrap.iso.css?v=' | append: site.github.build_revision | relative_url }}">

    <link rel="shortcut icon" type="image/png" href="/assets/images/ckcollab_16x16.png"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Hotjar Tracking Code for ckcollab.com -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2066955,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
</head>
<body>
<header class="page-header" role="banner">
<!--    <h1 class="project-name">CKC</h1>-->
    <a href="/">
        <img class="ckc-logo" src="/assets/images/ckclogo.svg" alt="ckclogo.svg"/>
    </a>
    <h2 class="project-tagline">
        WE <i class="fa fa-heart-o" style="color: #ef6d7e;" aria-hidden="true"></i> DEVELOPMENT
    </h2>
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        <p class="drop-us-a-line">drop us a line, <a href="mailto:hello@ckcollab.com">hello@ckcollab.com</a></p>
    </footer>
</main>
</body>
</html>

<script src="/assets/js/cookie-consent.js" type="text/javascript"></script>
