---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>

{{ content }}

{% assign author = site.authors | where: 'short_name', page.author | first %}
{% if author %}
    <div class="row">
        <a href="{{ author.url }}">
            <img class="blog-avatar" src="{{ author.avatar }}" align="left">
        </a>
        <p class="author-link">
            <a href="{{ author.url }}">{{ author.title }}</a>
            wrote this on {{ page.date | date: "%-d %B %Y" }}
        </p>
    </div>
{% endif %}

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Ad Unit #1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1425635593332114"
     data-ad-slot="2488181675"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "https://ckcollab.com{{ page.url | absolute }}"
        this.page.identifier = "{{ page.url | absolute }}"
        this.page.title = "{{ page.title }}"
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://ck-collab.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>